body{
  background-color: #e0b0ad;
}

.frame{  
  
}
.title{
  display:flex;
  justify-content:center;  
}
.cal{
  border-bottom:2px solid black;
}
.screen-row{
  display:flex;
   justify-content:center;   
}
.btn{
  background-color:#eb4034;
  border:1px solid #e0b0ad;
  padding: 15px 32px;
  font-size: 16px;
  color:white;
}
.button-row{
  display:flex;
   justify-content:center; 
}
.input{
  font-size: 25px;
  height: 32px; 
  border:none;
}
